<div class="container d-flex flex-column text-center">
  <div class="d-flex flex-column m-auto py-5">
    <app-title variant="display-4" content="Bienvenido"></app-title>
    <app-title
      variant="fw-bold fs-6 mb-4"
      content="Cambio de Pesos argentinos a dolares y reales."
    ></app-title>
    <div class="d-flex flex-column flex-md-row pb-5">
      <app-card-link
        width="180px"
        height="180px"
        variant="col me-md-5"
        imageVariant="mx-auto"
        animation="https://assets5.lottiefiles.com/private_files/lf30_zm8gpi20.json"
        url="/cotizaciones"
        text="Cotizaciones"
        title="Created by Correct Technology"
      ></app-card-link>
      <app-card-link
        width="180px"
        height="180px"
        variant="col"
        imageVariant="mx-auto"
        animation="https://assets5.lottiefiles.com/packages/lf20_bczqkp40.json"
        url="/compra"
        text="Compra"
        title="Created by Luis Quintanilla"
      ></app-card-link>
    </div>
  </div>
</div>
